[submodule "halo2"]
	path = halo2
	url = https://github.com/hkust-okx-zkdex-project/halo2.git
[submodule "halo2-link-circuit"]
	path = halo2-link-circuit
	url = https://github.com/hkust-okx-zkdex-project/halo2-link-circuit.git
[submodule "ark-iesp"]
	path = ark-iesp
	url = https://github.com/hkust-okx-zkdex-project/ark-iesp.git
[submodule "rsa_accumulator"]
	path = rsa_accumulator
	url = https://github.com/hkust-okx-zkdex-project/rsa_accumulator.git
	branch = benchOKX
[submodule "ark-segmentlookup"]
	path = ark-segmentlookup
	url = https://github.com/hkust-okx-zkdex-project/ark-segmentlookup.git
